In [ ]:
'''
tipo inteiro (int)
ponto flutuante ou decimal (float)
String (str)
Data (datetime)

'''

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r"C:\Users\supor\Downloads\SQL_Server\arquivos_csv\Clientes.csv" , delimiter=',')
df.head(10)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
8,8,2017-12-16 20:47:03,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,NaN,NaN,NaN
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14

Conversores de dados

In [19]:
df['id'].dtype

dtype('int64')

In [20]:
#ver tipos de dados
print(df['id'].dtype)

int64

In [21]:
print(df['created_at'].dtype)
print(df['first_name'].dtype)

object
object

In [22]:
for coluna in df.columns:
    print(f'coluna: {coluna}, tipo de dados: {df[coluna].dtypes}')

coluna: id, tipo de dados: int64
coluna: created_at, tipo de dados: object
coluna: first_name, tipo de dados: object
coluna: last_name, tipo de dados: object
coluna: email, tipo de dados: object
coluna: cell_phone, tipo de dados: object
coluna: country, tipo de dados: object
coluna: state, tipo de dados: object
coluna: street, tipo de dados: object
coluna: number, tipo de dados: float64
coluna: additionals, tipo de dados: object

In [23]:
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22

In [24]:
df['id'] = df['id'].astype(float)

In [25]:
print(df['id'].dtype)

float64

In [26]:
df['number'] = df['number'].astype(str)

In [27]:
print(df['number'].dtype)

object

In [28]:
for coluna in df.columns:
    print(f'coluna: {coluna}, tipo de dados: {df[coluna].dtypes}')

coluna: id, tipo de dados: float64
coluna: created_at, tipo de dados: object
coluna: first_name, tipo de dados: object
coluna: last_name, tipo de dados: object
coluna: email, tipo de dados: object
coluna: cell_phone, tipo de dados: object
coluna: country, tipo de dados: object
coluna: state, tipo de dados: object
coluna: street, tipo de dados: object
coluna: number, tipo de dados: object
coluna: additionals, tipo de dados: object

Conversão de datas

In [29]:
df = pd.read_csv(r"C:\Users\supor\Downloads\SQL_Server\arquivos_csv\Clientes.csv" , delimiter=',')
df.head(10)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
8,8,2017-12-16 20:47:03,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,NaN,NaN,NaN
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14

In [30]:
print(df['created_at'].dtype)

object

In [31]:
# Converter a coluna 'created_at' para o formato data e hora 
df['created_at'] = pd.to_datetime(df['created_at'])

In [32]:
print(df['created_at'].dtype)

datetime64[ns]

In [36]:
# Filtrar os dados para o intervalo de anos entre 2018 e 2020 
df_filtrado = df[(df['created_at'].dt.year >= 2018) & (df['created_at'].dt.year <=2020 )]
df_filtrado.head(30)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14
11,11,2018-05-16 03:39:52,James,Albuquerque,NaN,9 2430-5905,Brasil,Sergipe,Rua 30 do Estado Sergipe,229.0,NaN
12,12,2018-03-28 00:24:00,Carol,Barboza,carol@exemplo.com,9 8487-3501,Brasil,Mato Grosso,Rua 31 do Estado Mato Grosso,1.0,Conjunto 23
13,13,2018-08-27 21:15:17,Carolina,Monteiro,carolina@teste.com,9 1226-4267,Brasil,Rio Grande do Sul,Rua 4 do Estado Rio Grande do Sul,444.0,Apto 21
15,15,2018-11-15 18:00:53,Stephanie,Barbosa,stephanie@usuario.com,9 1446-3560,Brasil,Mato Grosso,NaN,NaN,Conjunto 4
18,18,2018-06-28 04:53:52,Jair,Magalhães,jair@exemplo.com,9 8368-1315,Brasil,Alagoas,Avenida 74 do Estado Alagoas,118.0,Conjunto 8
19,19,2018-10-20 19:31:52,Caíque,Monteiro,caíque@exemplo.com,9 9793-9986,Brasil,Piauí,NaN,NaN,Conjunto 13
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20
22,22,2018-04-18 22:43:29,Heitor,Pereira,NaN,9 4839-8118,Brasil,Maranhão,Avenida 84 do Estado Maranhão,948.0,NaN
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
25,25,2018-08-07 12:22:40,Alice,Veloso,alice@exemplo.com,9 9869-3706,Brasil,Minas Gerais,Praça 73 do Estado Minas Gerais,571.0,NaN
26,26,2018-12-12 11:56:14,Eloá,da Silva,eloá@usuario.com,9 3982-5948,Brasil,Espírito Santo,Avenida 98 do Estado Espírito Santo,706.0,NaN
27,27,2018-11-08 11:12:47,Luan,Lima,luan@teste.com,9 2529-8197,Brasil,Acre,Praça 86 do Estado Acre,303.0,Apto 27
29,29,2018-06-03 17:08:52,Geisa,Santos,geisa@meu_email.com,9 4653-9739,Brasil,Rio Grande do Norte,Avenida 77 do Estado Rio Grande do Norte,486.0,Conjunto 13
30,30,2018-06-08 07:49:50,Gabriel,Teixeira,gabriel@exemplo.com,9 7419-5325,Brasil,Rio Grande do Sul,Avenida 7 do Estado Rio Grande do Sul,94.0,NaN
31,31,2018-07-02 22:04:08,Geisa,Freitas,geisa@exemplo.com,9 6772-5310,Brasil,Mato Grosso do Sul,Rua 18 do Estado Mato Grosso do Sul,128.0,NaN
32,32,2018-07-22 11:59:27,Ana,Campos,ana@teste.com,9 1932-9841,Brasil,Bahia,Avenida 52 do Estado Bahia,402.0,NaN
34,34,2018-10-05 01:14:05,José,Campos,josé@teste.com,9 7552-4340,Brasil,Goiás,Praça 25 do Estado Goiás,884.0,Apto 7
35,35,2018-04-19 10:10:22,Adalberto,Dias,adalberto@usuario.com,9 8395-7004,Brasil,Espírito Santo,Rua 37 do Estado Espírito Santo,383.0,Apto 13
36,36,2018-01-26 03:29:13,Mariana,Góes,mariana@meu_email.com,9 7324-4293,Brasil,NaN,NaN,NaN,Apto 25
37,37,2018-03-02 22:27:03,Daniela,Monteiro,daniela@meu_email.com,9 4704-5844,Brasil,Goiás,Rua 43 do Estado Goiás,116.0,Apto 28
38,38,2018-09-01 09:33:57,Marcelo,Mendes,NaN,9 6773-1560,Brasil,Espírito Santo,Avenida 64 do Estado Espírito Santo,213.0,NaN
40,40,2018-08-17 13:21:08,Gabriela,Nascimento,gabriela@teste.com,9 5382-5772,Brasil,Amapá,Avenida 85 do Estado Amapá,476.0,NaN
41,41,2018-11-30 17:44:09,Maria,Morais,maria@usuario.com,9 1519-4181,Brasil,Pernambuco,Avenida 69 do Estado Pernambuco,633.0,NaN

In [34]:
# Filtrar somente o ano de 2018 e o mês de janeiro
df_dt2 = df[(df['created_at'].dt.year == 2018 ) & (df['created_at'].dt.month == 1) ]

# Imprimir o Dataframe filtrado
df_dt2

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
36,36,2018-01-26 03:29:13,Mariana,Góes,mariana@meu_email.com,9 7324-4293,Brasil,NaN,NaN,NaN,Apto 25
43,43,2018-01-07 07:54:22,Daniela,Lima,NaN,9 1763-2584,Brasil,Rio de Janeiro,NaN,NaN,Apto 20
54,54,2018-01-25 02:11:25,Diego,Teixeira,diego@exemplo.com,9 5247-1737,Brasil,Pará,Rua 8 do Estado Pará,722.0,Conjunto 16
62,62,2018-01-21 13:56:16,Carol,Anjos,carol@usuario.com,9 2123-9306,Brasil,Pernambuco,Praça 12 do Estado Pernambuco,928.0,Conjunto 26
72,72,2018-01-29 03:19:24,Neymar,Elísio,neymar@teste.com,9 5373-1785,Brasil,Rio Grande do Sul,Rua 49 do Estado Rio Grande do Sul,929.0,NaN
81,81,2018-01-13 10:35:01,Alice,Ferreira,alice@teste.com,9 9005-2493,Brasil,Minas Gerais,Praça 53 do Estado Minas Gerais,83.0,NaN
83,83,2018-01-05 00:15:03,Frida,Freire,NaN,9 4760-1383,Brasil,Alagoas,Rua 25 do Estado Alagoas,679.0,Conjunto 9
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN

In [39]:
#converter a coluna 'created_at' para o formato de data no padrão Brasileiro
df['created_at'] = df['created_at'].dt.strftime('%d/%m/%y')
df.head(20)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,01/11/17,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,16/10/17,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,16/06/18,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,17/01/18,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,06/08/18,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,05/01/18,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,18/06/18,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,08/02/18,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
8,8,16/12/17,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,NaN,NaN,NaN
9,9,11/11/18,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14
10,10,16/12/17,Mariana,Alves,mariana@meu_email.com,9 1846-6377,Brasil,Santa Catarina,NaN,NaN,NaN
11,11,16/05/18,James,Albuquerque,NaN,9 2430-5905,Brasil,Sergipe,Rua 30 do Estado Sergipe,229.0,NaN
12,12,28/03/18,Carol,Barboza,carol@exemplo.com,9 8487-3501,Brasil,Mato Grosso,Rua 31 do Estado Mato Grosso,1.0,Conjunto 23
13,13,27/08/18,Carolina,Monteiro,carolina@teste.com,9 1226-4267,Brasil,Rio Grande do Sul,Rua 4 do Estado Rio Grande do Sul,444.0,Apto 21
14,14,12/11/17,Francisco,Nascimento,francisco@exemplo.com,9 7264-9020,Brasil,Distrito Federal,Rua 75 do Estado Distrito Federal,47.0,NaN
15,15,15/11/18,Stephanie,Barbosa,stephanie@usuario.com,9 1446-3560,Brasil,Mato Grosso,NaN,NaN,Conjunto 4
16,16,12/12/17,Laura,Santos,laura@exemplo.com,9 7802-6152,Brasil,Maranhão,Rua 57 do Estado Maranhão,213.0,NaN
17,17,19/10/17,João,Magalhães,joão@exemplo.com,9 5995-1272,Brasil,Pernambuco,Rua 20 do Estado Pernambuco,781.0,Apto 17
18,18,28/06/18,Jair,Magalhães,jair@exemplo.com,9 8368-1315,Brasil,Alagoas,Avenida 74 do Estado Alagoas,118.0,Conjunto 8
19,19,20/10/18,Caíque,Monteiro,caíque@exemplo.com,9 9793-9986,Brasil,Piauí,NaN,NaN,Conjunto 13